*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.hero{
    background-size: cover;
    background-image: url(./assets/images/island-g54a2a1e23_1920.jpg);
    text-align: center;
    padding:40px 0;
    color: white;
    
}
.heroHeading{
    padding:40px 0 0;
}
.heroDes{
    padding:2px 0px 4px
}
.heroInp{
    display:flex;
    justify-content: center;   
    padding:8px 4px;
    height: 50px;
    margin: 30px;
    
}

.inp1{
    height: 35px;
    width: 312px;
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgb(56, 56, 56);
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
   
}
.inp2{
    position: relative;
    height: 20px;
  
}
.inpp2{
    border: none;
    height: 35px;
    width: 312px;
    color: rgb(56, 56, 56);
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
  
}
.downArrow1{
    position: absolute;
    right: 18px;
    top: 12px;
    z-index: 1;
}
.inp3{
    position: relative;
    height: 20px;
    
}
.inpp3{
    border: none;
    height: 35px;
    width: 312px;
    color: rgb(56, 56, 56);
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;  
    
}
.downArrow2{
    position: absolute;
    right: 18px;
    top: 12px;
    z-index: 1;
}
.inp{
    
}
.search{
    background-color: rgb(0, 49, 49);
    font-weight: bold;
    padding:6px 4px;
    margin-left:12px;
    border:none;
    border-radius:4px;
    height: 35px;
    width: 120px;
    font-size: medium;
    color: white;
}
.search:hover{
    background-color: rgb(21, 128, 128);
}


section{
    margin:auto 120px;
}
.sech1{
    margin: 30px 0;;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 50px;
    margin-bottom: 50px;
}
.card{
    padding: 200px 150px 20px 10px;
    color: white;
    font-size: large;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.card:hover{
    transform: translateY(-10px);
}
.content1{
    background-image: url(./assets/images/edvin-johansson-rlwE8f8anOc-unsplash.jpg);
    background-size: cover;
}
.content2{
    background-image: url(./assets/images/oswald-elsaboath-ym_EI-DTS1g-unsplash.jpg);
    background-size: cover;
}
.content3{
    background-image: url(./assets/images/sara-dubler-Koei_7yYtIo-unsplash.jpg);
    background-size: cover;
}
.content4{
    background-image: url(./assets/images/sasha-kaunas-TAgGZWz6Qg8-unsplash.jpg);
    background-size: cover;
}
.content5{
    background-image: url(./assets/images/the-anam-_twiIcIsp2s-unsplash.jpg);
    background-size: cover;
}
.content6{
    background-image: url(./assets/images/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg);
    background-size: cover;
}
h3{
    text-shadow: 1px 1px 2px black;
}

.second{
    padding-bottom: 50px;
}
.sech2{
    margin: 40px;
    text-align: center;
}

.features{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.feature{
    display: flex;
    gap:20px;
    width: 400px;
}
.second h4{
    margin-bottom: 5px;
}
.second p{
    font-size: smaller;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero{
        padding: 100px 0;
    }
    .heroHeading{
        padding:20px 20px;
        text-shadow: 1px 1px 2px black;
    }
    .heroDes{
        padding:2px 0px 4px;
        text-shadow: 1px 1px 2px gray;
    }
    .heroInp{
        display:block;
    }
    .inp1{
        width: 250px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 0;
        padding-left:20px ;
    }
    .inp2{
        position: relative;
        height: 35px;
      
    }
    .inpp2{
        padding-left:20px ;
        width: 250px;
        height: 35px;
    }
    .inp3{
        position: relative;
        height: 20px;
        
    }
    .inpp3{
        padding-left:20px ;
        width: 250px;
        height: 35px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }
    .downArrow1{
        position: absolute;
        right: 35px;
        top: 14px;
        z-index: 1;
    }
    .downArrow2{
        position: absolute;
        right: 35px;
        top: 14px;
        z-index: 1;
    }
    .search{
        margin-top: 30px;
    }
    section{
        margin:auto 10px;
    }
    .second{
        margin:auto 20px;
    }
  }